<div class="d-flex">
  <h2 mat-dialog-title>Pokemon Detail</h2>
</div>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img [src]="data.image" alt="">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h2>Information</h2>
      <div class="mb-4 fs-18 text-medium"><span>Name: </span>{{data.name}}</div>
      <div class="mb-4 fs-18 text-medium"><span>Weight: </span>{{data.weight}}</div>
      <div class="mb-4 fs-18 text-medium"><span>Height: </span>{{data.height}}</div>
      <div class="mb-4 fs-18 text-medium"><span>Base experience: </span>{{data.base_experience}}</div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>