<div class="content-loader">
  <div class="gravatar-title" *ngFor="let item of itemsLoading">
    <ngx-skeleton-loader appearance="circle" [theme]="{ width: '233px', height: '240px',
        'border-radius': '8px'
      }">
    </ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{
              width: '233px',
              'border-radius': '0',
              height: '16px',
              'margin-bottom': '10px'
            }"></ngx-skeleton-loader>

    <ngx-skeleton-loader [theme]="{
            width: '233px',
            'border-radius': '0',
            height: '16px',
            'margin-bottom': '10px'
          }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{
            width: '233px',
            'border-radius': '0',
            height: '16px',
            'margin-bottom': '10px'
          }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{
            width: '233px',
            'border-radius': '0',
            height: '16px',
            'margin-bottom': '10px'
          }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{
            width: '233px',
            'border-radius': '0',
            height: '16px',
            'margin-bottom': '10px'
          }"></ngx-skeleton-loader>

  </div>
</div>